<div
  local-class="node-tree">
  {{#each @nodes as |node|}}
    {{#if (has-block)}}
      {{yield node}}
    {{else}}
      <Node
        @node={{node}}
        @icon={{@icon}}
        @onSelection={{this.handleSelection}}
        @actionsAPI={{@actionsAPI}}
        @expandToDepth={{@expandToDepth}}
      />
    {{/if}}
  {{/each}}
</div>
