<div
  local-class="node-tree"
  ...attributes>
  <AnimatedContainer>
    {{#animated-each
      this.filteredNodes
      use=this.transition
      duration=150
      as |node|
    }}
      <NodeTree::Node
        @node={{node}}
        @nodeTreeAPI={{@nodeTreeAPI}}
        @defaultIcon={{this.defaultIcon}}
        @nodeModelName={{@nodeModelName}}
        @parentNodeName={{@parentNodeName}}
        @childNodesName={{@childNodesName}}
        @onSelection={{this.handleSelection}}
        @customNodeComponent={{@customNodeComponent}}
        @customRowClass={{@customRowClass}}
        @filterNodesFn={{@filterNodesFn}}
        @onExpandNode={{@onExpandNode}}
        @onCollapseNode={{@onCollapseNode}}
        @expandedNodes={{@expandedNodes}}
        @collapsedNodes={{@collapsedNodes}}
        @isExpanded={{this.isNodeExpanded node}}
        @isSelected={{this.isNodeSelected node}}
      />
    {{/animated-each}}
  </AnimatedContainer>
</div>
