<div local-class="container">
  <div local-class="actions">
    {{#each this.sortedNodeActions as |nodeAction|}}
      <button
        type="button"
        local-class="action"
        title={{nodeAction.title}}
        disabled={{this.noneSelected}}
        {{on "click" (fn this.execute nodeAction)}}>
        {{svg-jar nodeAction.icon class=(local-class "icon")}}
      </button>
    {{/each}}
  </div>

  {{yield (hash
    nodes=@nodes
    API=this.API
  )}}
</div>
