<div local-class="node" data-test-node={{this.node.name}} ...attributes>
  <div
    local-class="row"
    class={{this.customRowClass}}
    style={{this.computedStyle}}
    data-is-selected={{if this.node.isSelected "true" "false"}}
    data-is-hidden={{if this.node.isHidden "true" "false"}}
  >
    {{#if this.shouldDisplayChildNodes}}
      {{!-- template-lint-configure require-presentational-children "warn"  --}}
      <div
        role="button"
        local-class="expand"
        data-toggle-direction={{if this.node.isExpanded "down" "right"}}
        {{on "click" this.handleExpand}}
      >
        <svg
          local-class="toggle-arrow"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 320"
        >
          <path
            d="M41.000001 76.475H279c21.4 0 32.1 25.9 17 4l-119 119c-9.4 9.4-24.6 9.4-33.9 0l-119.099999-119c-15.1000001-15.1-4.4-41 17-41z"
          ></path>
        </svg>
      </div>
    {{/if}}
    <div
      role="button"
      local-class="row-content"
      data-has-children={{if this.shouldDisplayChildNodes "true" "false"}}
      {{on "click" this.handleRowClick}}
    >
      {{#if this.customNodeComponent}}
        {{component this.customNodeComponent icon=this.icon node=@node}}
      {{else}}
        {{#if this.icon}}
          {{svg-jar this.icon class=(local-class "icon")}}
        {{/if}}
        <NodeTree::Node::Name @name={{this.node.name}} />
      {{/if}}
    </div>
  </div>
  <AnimatedContainer>
    {{#animated-if
      (and
        this.shouldLoadChild
        this.shouldDisplayChildNodes
        this.node.isExpanded
      )
      use=this.transition
      duration=150
    }}
      <NodeTree::Tree
        @icon={{this.icon}}
        @nodes={{this.node.childNodes}}
        @nodeTreeAPI={{this.nodeTreeAPI}}
        @defaultIcon={{this.defaultIcon}}
        @onSelection={{this.onSelection}}
        @expandToDepth={{this.expandToDepth}}
        @nodeModelName={{this.nodeModelName}}
        @parentNodeName={{this.parentNodeName}}
        @childNodesName={{this.childNodesName}}
        @customNodeComponent={{this.customNodeComponent}}
        @filterNodesFn={{@filterNodesFn}}
      />
    {{/animated-if}}
  </AnimatedContainer>
</div>