<div local-class="node" data-test-node={{this.node.name}} ...attributes>
  <div
    local-class="row"
    class={{this.customRowClass}}
    style={{this.computedStyle}}
    data-is-selected={{if @isSelected "true" "false"}}
    data-is-hidden={{if this.node.isHidden "true" "false"}}
    data-test-is-expanded={{if @isExpanded "true" "false"}}
  >
    {{#if this.hasChildNodes}}
      {{!-- template-lint-configure require-presentational-children "warn"  --}}
      <div
        role="button"
        local-class="expand"
        data-toggle-direction={{if @isExpanded "down" "right"}}
        {{on "click" this.handleExpand}}
      >
        {{svg-jar this.arrowToggleIcon class=(local-class "toggle-arrow")}}
      </div>
    {{else}}
      <div
        role="button"
        local-class="expand"
      ></div>
    {{/if}}
    <div
      role="button"
      local-class="row-content"
      data-has-children={{if this.hasChildNodes "true" "false"}}
      {{on "click" this.handleRowClick}}
    >
      {{#if this.customNodeComponent}}
        {{component this.customNodeComponent icon=this.icon node=@node}}
      {{else}}
        {{#if this.icon}}
          {{svg-jar this.icon class=(local-class "icon")}}
        {{/if}}
        <NodeTree::Node::Name @name={{this.node.name}} />
      {{/if}}
    </div>
  </div>
  <AnimatedContainer>
    {{#animated-if
      (and
        this.hasChildNodes
        @isExpanded
      )
      use=this.transition
      duration=150
    }}
      <NodeTree::Tree
        @icon={{this.icon}}
        @nodes={{get this.node this.childNodesName}}
        @nodeTreeAPI={{this.nodeTreeAPI}}
        @defaultIcon={{this.defaultIcon}}
        @onSelection={{this.onSelection}}
        @expandToDepth={{this.expandToDepth}}
        @nodeModelName={{this.nodeModelName}}
        @parentNodeName={{this.parentNodeName}}
        @childNodesName={{this.childNodesName}}
        @customNodeComponent={{this.customNodeComponent}}
        @filterNodesFn={{@filterNodesFn}}
        @expandedNodes={{@expandedNodes}}
        @collapsedNodes={{@collapsedNodes}}
        @onExpandNode={{@onExpandNode}}
        @onCollapseNode={{@onCollapseNode}}
        @nodeDepthLeftPaddingBase={{@nodeDepthLeftPaddingBase}}
        @nodeDepthLeftPaddingAmount={{@nodeDepthLeftPaddingAmount}}
        @nodeDepthPathLeftPaddingUnit={{@nodeDepthPathLeftPaddingUnit}}
      />
    {{/animated-if}}
  </AnimatedContainer>
</div>
